<!DOCTYPE html>
<html>
    <head>
        <title>Url Shortener 2</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="mycss.css">
    </head>

    <body>
        <h1> Paste Your URL below </h1> 
        <form id="demo" onsubmit="solve(event)">
            URL <input type="text" id="Url" placeholder="text here">
            <br>
            <button type="submit" id="button">Shorten It </button>
        </form>
        <p id="answer"></p>
        <script src="myjs.js"></script>
    </body>
</html>